.bgimg{
background-image:url("../images/1.jpg");
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
height: 630px;
width: 100%;

}
.headerset{
    box-sizing: border-box;
    padding-top: 200px;
    /* color: black; */
}
.headerset h2{
    font-size: 43px;
}
.headerset h1{
    font-size: 73px;
    font-weight: bold;
}
.ourservices{
    padding: 100px 0 60px;
    height: 700px;}

.ourservices h1{
    font-size: 50px;
    font-weight:bold;
}
.rowsetting{
    margin: 80px 0px !important;

}
.imgsetting{
    border-radius: 50%;
    border: 1px solid #FFC107;
    height:100px;
    width:100px;
    background-color: #FFC107;
}
.fa-shopping-cart{
    margin-top:19px;
}
.fa-desktop{
    margin-top:19px;
}
.fa-lock{
    margin-top:19px;
}
.rowsetting p{
    color:#6c757d;
    padding: 10px;

}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.porfolio{
height: 1100px;
width: 100%;
padding: 100px 0px 50px;

}
.portfolio h1{
    font-size: 50px;
    font-weight: bold;

}
.card{
    margin-top: 40px;
}
.figure img{
    height: 250px;
    width: 250px;
}
.team{
    height: 700px;
    padding: 100px 0px 50px;
    width: 100%;
}
.team h1{
    font-size: 50px;
    font-weight: bold;
}
.teamsetting{
    margin-top: 50px;

}